<div class="quantity-input-text-container" {{ attributes }}>
  <div class="textAreaContainer">
    <label for="project-info-textarea">{{ text.project-info-heading }}</label>
    <textarea name="project-info-textarea" rows="4"></textarea>
  </div>
</div>  