{% comment %}
  Reusable custom dropdown for product metaobjects.
  Accepts:
  - product: {Object}
  - section: {Object}
  - metafield_key: {String} e.g. "custom.product_option_materials"
  - label_text: {String} Optional – label above the dropdown
  - property_name: {String} Optional – line item property key (default: label_text or 'Custom Option')

  Usage:
  {% render 'pak-custom-meta-dropdown',
  product: product,
  section: section,
  metafield_key: 'custom.product_option_materials',
  label_text: 'Preferred Material',
  property_name: 'Material' %}
{% endcomment %}


{% comment %} Variables {% endcomment %}
{% assign format_type = product.metafields.custom["product_format_type"].value | downcase %}


<div class="quote-customization__dimension" id="{{ id | default: 'dimensions-section' }}">

  {% if format_type == 'box-style' %}
    {% comment %} Box Format  {% endcomment %}
      {% render 'pak-custom-dimension-input'
        , dimension: 'Length'
        , metric: 'in',
        , section_id: section.id 
      %}

      {% render 'pak-custom-dimension-input'
      , dimension: 'Width',
      , metric: 'in'
      , section_id: section.id %}

      {% render 'pak-custom-dimension-input'
      , dimension: 'Depth',
      , metric: 'in'
      , section_id: section.id %}
  {% comment %} Circle Format  {% endcomment %}
  {% elsif format_type == 'cylindrical' %}
        {% render 'pak-custom-dimension-input'
        , dimension: 'Diameter'
        , metric: 'in',
        , section_id: section.id 
      %}

      {% render 'pak-custom-dimension-input'
      , dimension: 'Depth',
      , metric: 'in'
      , section_id: section.id %}
  {% comment %} Mailer Format  {% endcomment %}
  {% elsif format_type == 'flat mailer' %}
    {% render 'pak-custom-dimension-input'
      , dimension: 'Length'
      , metric: 'in',
      , section_id: section.id 
    %}

    {% render 'pak-custom-dimension-input'
    , dimension: 'Width',
    , metric: 'in'
    , section_id: section.id %}

  {% comment %} Expandable Format  {% endcomment %}
  {% elsif format_type == 'expandable' %}
    {% render 'pak-custom-dimension-input'
      , dimension: 'Length'
      , metric: 'in',
      , section_id: section.id 
    %}
    {% render 'pak-custom-dimension-input'
    , dimension: 'Gusset',
    , metric: 'in'
    , section_id: section.id %}

    {% render 'pak-custom-dimension-input'
    , dimension: 'Depth',
    , metric: 'in'
    , section_id: section.id %}

    {% else %}
      {% render 'pak-custom-dimension-input'
        , dimension: 'Length'
        , metric: 'in',
        , section_id: section.id 
      %}

      {% render 'pak-custom-dimension-input'
      , dimension: 'Width',
      , metric: 'in'
      , section_id: section.id %}

      {% render 'pak-custom-dimension-input'
      , dimension: 'Depth',
      , metric: 'in'
      , section_id: section.id %}
      {% endif %}
</div>