{% comment %}
  Your Section Name
  Description: Short description of what this section does.
{% endcomment %}

<div class="your-section-class">
  <h2>{{ section.settings.heading }}</h2>
  <p>{{ section.settings.subheading }}</p>
</div>

{% schema %}
  {
    "name": "Your Section Name",
    "tag": "section",
    "class": "section",
    "enabled_on": {
      "templates": ["product"]
    },
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "This is the heading"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "This is the subheading"
      }
    ],
    "presets": [
      {
        "name": "Pak Product Capability Library",
        "category": "Custom"
      }
    ]
  }
{% endschema %}