/* popup after quote request sent - css - start */
.quote-request-submit-popup-overlay {
  height: 100%;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  background: rgba(1, 1, 1, 0.3);
}

.popup-request-submit-details-container {
  margin: auto;
  background: white;
  padding: 30px 50px;
  border-radius: 2rem;
  max-width: 75rem;
}
.popup-svg-container {
  margin: 0 auto;
  width: fit-content;
}

.popup-text-contaianer {
  text-align: center;
}

.popup-text-contaianer h3 {
  margin: 0;
}

.popup-text-contaianer h3,
.popup-text-contaianer p {
  color: rgba(1, 1, 1, 0.6);
}

.popup-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

/* popup after quote request sent - css - end */

/* quote-checkout - css - start */

/* thank you popup */
.thankyou-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(1, 1, 1, 0.5);
  /* display:flex; */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.popup-thank-you {
  position: relative;
  width: 768px;
  max-width: 768px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  padding: 4.5rem;
  border-radius: 1.3rem;
}
.popup-thank-you .thank-you-logo-indicator {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  background-color: rgba(220, 252, 231, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.thank-you-content {
  display: flex;
  flex-direction: column;
}

/* thank you popup */
.thank-you-content .thank-you-text {
  text-align: center;
}
.thank-you-content .thank-you-text h2 {
  margin: 10px 0;
  font-weight: 500;
}
.thank-you-content .thank-you-text p {
  margin: 0 0 20px 0;
}
.thank-you-close-window-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thank-you-close-window-button button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  width: 60%;
  border: 1px solid rgba(214, 214, 214, 0.3);
  border-radius: 0.375rem;
  box-shadow: 0px 0px 1px 1px #ddd;
}
.thank-you-close-window-button button:hover {
  cursor: pointer;
  background-color: rgba(214, 214, 214, 0.3);
}
.popup-thank-you .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: none;
  font-size: 25px;
}

.quote-checkout-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.quote-checkout-form-and-product-info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
/* contact info css */
.contact-form-wrapper {
  padding: 0 32px 0 0;
}

.popup-content-step-2 .contact-info-tab:first-child {
  margin-bottom: 30px;
}
.popup-product-information-step-2 {
  border-bottom: 1px solid #80808040;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-group {
  flex: 1;
}

.form-group.full-width {
  flex: 100%;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.form-group label .required {
  color: red;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #9b9a9a91;
  border-radius: 5px;
  background: white;
  box-sizing: border-box;
  color: #1e1b1b;
  /* font-size:12px; */
  text-overflow: ellipsis;
}

.form-group select {
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="%23000000"><path d="M903.232 256l56.768 50.432L512 768 64 306.432 120.768 256 512 659.072z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px; /* Adjust arrow size */
}

.form-group textarea {
  min-height: 100px;
  max-height: 200px;
  resize: vertical;
}
/* Style the intl-tel-input dropdown */
.iti {
  width: 100%;
}
.iti__search-input {
  border: none;
}

.file-upload-button-step-2 {
  display: inline-block;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border: 1px solid #9b9a9a91;
  border-radius: 5px;
  background: white;
  box-sizing: border-box;
  color: #1e1b1b !important;
}

/* Hide default file input */
.file-upload-button-step-2 input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Make it invisible */
  cursor: pointer;
}
.quote-checkout-submit-button {
  margin: 0 auto;
  border-radius: 1rem;
}
.quote-checkout-submit-button:after {
  box-shadow: none;
}

/* email input diabled */
#email:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

/* more padding on right in selects so that arrow and text does not get overlapped */
#communication,
#state-name {
  padding-right: 22px;
}

/* quote checkout loader css */
#quote-checkout-loader {
  position: fixed;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
}

#quote-checkout-loader svg {
  height: 30px;
  width: 30px;
}

.submit-button-wrapper.--mobile-only {
  display: none;
}

/* product info css */
.products-info-wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 40px;
  padding: 16px;
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
  grid-row: span 2;
  height: 90vh;
}

.products-info-wrapper h5 {
  display: none;
}

.quote-checkout-products-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.quote-checkout-product-item {
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 10px;
  border-radius: 15px;
  background: white;
  /* align-items:center; */
}
.quote-checkout-product-item:not(:last-child) {
  /* border-bottom: 0.04rem solid rgba(1,1,1,0.2); */
}
.quote-checkout-product-image {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote-checkout-product-image img {
  height: 85px;
  width: 85px;
  border-radius: 1rem;
}

.quote-checkout-product-details {
  padding: 8px;
}
.quote-checkout-product-details h4 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
}
.product-sku-h4,
.product-variant-h4,
.product-quantity-h4 {
  margin-top: 4px !important;
  font-size: 1.35rem !important;
}

/* styling the number code */
.iti {
  width: 100%;
}
.iti__selected-dial-code {
  font-size: 1.3rem;
}
.iti__flag {
  display: block !important;
}

.error {
  color: red;
  font-size: 0.9em;
  padding: 0 0 0 10px;
  line-height: normal;
}

/* Pak - Custom Code */
.section-announcement,
.shopify-section-header,
.shopify-section-group-footer-group {
  display: none !important;
}

.header__quote-checkout-header {
  background-color: white;
}

.header__quote-checkout-header a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-checkout-wrapper {
  padding: 40px 0;
}

.quote-checkout-wrapper h5 {
  margin: 0 0 0 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (max-width: 1020px) {
  .quote-checkout-form-and-product-info-wrapper {
    grid-template-columns: 1fr;
  }
  .quote-checkout-product-item {
    grid-template-columns: 1fr 4fr;
  }
  .contact-form-wrapper {
    padding: 0 0 20px 0;
  }
  .contact-info-tab {
    padding-right: 0;
  }
  .contact-info-tab:last-child {
    padding-right: 0;
    padding-top: 20px;
  }
  .quote-checkout-container {
    max-width: 55rem;
    justify-self: center;
  }
  .products-info-wrapper {
    padding: 0;
    background-color: transparent;
    margin-bottom: 20px;
    height: auto;
  }
  .products-info-wrapper h5 {
    display: block;
    margin-bottom: 16px;
  }
  .submit-button-wrapper {
    padding-right: unset;
  }
  .quote-checkout-submit-button {
    margin: unset;
    border: 0;
  }

  .submit-button-wrapper.--mobile-only {
    display: block;
  }

  .submit-button-wrapper.--desktop-only {
    display: none;
  }
}

@media screen and (max-width: 570px) {
  .form-row {
    flex-direction: column;
  }
  .quote-checkout-product-details h4 {
    font-size: 14px;
  }
  .quote-checkout-products-grid {
    gap: 20px;
  }
  .quote-checkout-product-item {
    padding: 10px;
    gap: 10px;
  }
  .products-info-wrapper {
    padding: 20px;
  }
}
/* quote-checkout - css - end */
