/* --- Primary Fonts --- */

@font-face {
  font-family: "Sharp Sans";
  src: url("https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Sharp_Sans_Regular.otf?v=1745344862")
    format("otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sharp Sans - Medium";
  src: url("https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Sharp_Sans_Medium.otf?v=1745344875")
    format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sharp Sans - Semi Bold";
  src: url("https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Sharp_Sans_Semi_bold.otf?v=1745872216")
    format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sharp Sans - Bold";
  src: url("https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Sharp_Sans_Bold.otf?v=1745345673")
    format("otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* --- Primary Fonts Ends --- */

/* --- Secondary Fonts --- */

@font-face {
  font-family: "Proxima Nova";
  src: url("https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Proxima_Nova_Regular.otf?v=1745346470")
    format("otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Medium";
  src: url("https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Proxima_Nova_Medium.otf?v=1745346470")
    format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* --- Secondary Fonts Ends --- */

body,
p,
button,
input,
textarea,
select {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Sharp Sans", sans-serif;
  letter-spacing: normal;
}

h1,
h2,
h3,
.h0,
.h1,
.h2,
.h3 {
  font-weight: 600;
  letter-spacing: normal;
}

/* Add any other specific rules needed */
.specific-section-class {
  font-family: "Your Custom Font Name", serif;
}
