/* --- Primary Fonts --- */

@font-face {
  font-family: 'Sharp Sans';
  src: url('https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Sharp_Sans_Regular.otf?v=1745344862')
    format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Sans - Medium';
  src: url('https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Sharp_Sans_Medium.otf?v=1745344875')
    format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Sans - Semi Bold';
  src: url('https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Sharp_Sans_Semi_bold.otf?v=1745872216')
    format('otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Sans - Bold';
  src: url('https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Sharp_Sans_Bold.otf?v=1745345673')
    format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* --- Primary Fonts Ends --- */

/* --- Secondary Fonts --- */

@font-face {
  font-family: 'Proxima Nova';
  src: url('https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Proxima_Nova_Regular.otf?v=1745346470')
    format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Medium';
  src: url('https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Proxima_Nova_Medium.otf?v=1745346470')
    format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* --- Secondary Fonts Ends --- */

body,
p,
button,
input,
textarea,
select {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  letter-spacing: normal;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Sharp Sans', sans-serif;
  letter-spacing: normal;
}

h1,
h2,
h3,
.h0,
.h1,
.h2,
.h3 {
  font-weight: 600;
  letter-spacing: normal;
}

/* Breadcrumb */
.breadcrumb__delimiter {
  /* Remove dot style */
  width: auto;
  height: auto;
  background-color: transparent;
  border-radius: 0;
  margin-inline: 0.4rem; /* Adjust spacing as needed */
  display: inline-block;
  position: relative;
}

.breadcrumb__delimiter::before {
  content: '/';
  color: rgba(
    var(--color-foreground),
    0.3
  ); /* Adjust opacity/color if needed */
  font-size: 1.4rem; /* Adjust to match design */
  line-height: 1;
}

/* Form */
.field__label {
  font-size: 14px;
}

/* Header Mega Menu */

.pak-mega-menu__column-list {
  background-color: rgb(var(--color-background));
  display: block;
  gap: 1.2rem;
  column-count: 1;
  list-style-type: none;
}

.pak-mega-menu__column-list.mega-menu__columns--2 {
  column-count: 2;
}

.pak-mega-menu__column-list.mega-menu__columns--3 {
  column-count: 3;
}

.pak-mega-menu__column-list.mega-menu__columns--4 {
  column-count: 4;
}

.pak-mega-menu__column-list li {
  break-inside: avoid;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  gap: 16px;
}

.pak-mega-menu__column-list li .mega-menu__image-thumb {
  width: 55px;
  height: 55px;
  background-color: rgb(236, 236, 236);
  overflow: hidden;
  border-radius: 10px;
}

.pak-mega-menu__column-list li .mega-menu__image-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pak-mega-menu__column-list li .mega-menu__column-list-link {
  font-weight: normal;
  font-size: 18px;
  max-width: 200px;
}

.pak-mega-menu__column-list li .mega-menu__column-list-description {
  margin-top: 6px;
  font-size: 14px;
  color: #898989;
}

.pak-mega-menu__column-info .mega-menu__column-heading {
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-size: 14px;
  color: #858585;
}

/* Header Mega Menu - Mobile*/
.menu-drawer__mega-menu {
  margin-top: 20px;
}

.menu-drawer .mega-menu__column {
  gap: 2.5rem 0;
}

/* Larger Screens Conditions */
@media screen and (min-width: 1200px) {
  .menu-drawer .mega-menu__column {
    gap: 2.5rem 0;
  }
}
