.quote-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quote-headers a {
  color: rgb(var(--color-foreground-title));
}

.quote-footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.quote-footer a {
  width: 100%;
}
.quote-cart {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 24px;
  margin-bottom: 64px;
}
.quote-card-heading {
  grid-column: span 2;
}
.quote-additional-remarks-div {
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  flex-direction: column;
  background: rgb(237 237 237);
  border-radius: 10px;
  height: fit-content;
  padding: 16px 24px;
  box-shadow: 0 8px 40px rgba(var(--color-shadow), 0.08);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 100%;
}
.quote-adddtional-remarks-textarea {
  width: 100%;
  margin-top: 10px;
  border: 1px solid rgba(202, 202, 202, 1);
  border-radius: 5px;
  padding: 16px;
  border-radius: 1rem;
  min-height: 200px;
  max-height: 350px;
  resize: vertical;
  background: rgb(237 237 237);
}

.quote-cart-grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;
}
.quote-cart-item {
  display: grid;
  grid-template-columns: 100%;
}

.quote-cart-item-product-image-text-buttons {
  grid-column: span 2;
  border-bottom: 1px solid #e8e0e8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  align-items: center;
  padding: 24px;
}
.quote-cart-item-product-image-text {
  display: flex;
  gap: 15px;
  align-items: center;
}
.quote-cart-item-product-image-text img {
  border-radius: 5px;
}
.quote-cart-item-product-text h3,
.quote-cart-item-product-text p {
  margin: 0;
  font-weight: 400;
}
.quote-cart-item-product-text h3 {
  margin-bottom: 5px;
  font-size: 20px;
}
.quote-cart-item-product-text h3 a {
  text-decoration: none;
  font-weight: 600;
}
.quote-cart-item-product-text p {
  font-size: 14px;
  color: rgba(137, 137, 137, 1);
}
.quote-cart-item-product-buttons-group {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.quote-cart-item-product-buttons-group button:hover {
  cursor: pointer;
}

.quote-cart-item-product-buttons-group .button--primary.button.edit-btn {
  background: rgba(33, 31, 87, 1);
  border: none;
  color: rgb(210, 210, 255);
}

.quote-cart-item-product-details-static {
  display: flex;
  padding: 24px;
  gap: 24px;
}
.quote-cart-item-product-details-static > div {
  width: 50%;
  border: 1px solid #e8e0e8;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.each-quantity-labels-container,
.each-variant-labels-container,
.quote-cart-item-product-project-info p {
  margin: 15px 0 0 0;
}
.product-quantity-variant-details-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.product-details-edit-container {
  display: flex;
  gap: 24px;
  padding: 24px;
}

.product-details-edit-container > div {
  width: 50%;
  padding: 24px;
  border: 1px solid rgba(232, 232, 232, 1);
  border-radius: 5px;
}
.quantity-label,
.variant-label,
.quote-project-info-label {
  font-size: 14px;
  font-weight: 700 !important;
  color: rgba(123, 123, 123, 1) !important;
}
.quote-cart-item-product-project-info p,
.each-quantity-labels-container label,
.each-variant-labels-container label {
  color: rgba(95, 104, 98, 1);
  font-weight: 400;
  font-size: 16px;
}
/* old css */

.product-details-edit-container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.quote-cart-item-product-details h3 a {
  color: rgb(var(--color-foreground-title));
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: normal;
}
.quote-cart-item-product-details h3 {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
}
.quantity-label-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}
.quantity-label-container p {
  margin: 0;
  color: rgb(var(--color-foreground-title));
  font-weight: 500;
}
.quantity-label-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 20px;
  width: 20px;
  padding: 5px;
  border: 0.8px solid rgba(var(--color-foreground), 0.4);
  border-radius: 0.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.85;
}
.quantity-label-container button:hover {
  background-color: rgba(1, 1, 1, 1);
  color: white;
  cursor: pointer;
}
.variant-options-label {
  height: min-content;
  margin: 0 !important;
  margin-bottom: 5px !important;
  color: rgb(var(--color-foreground-title));
  font-weight: 500;
}
.variant-options-container {
  display: flex;
  flex-wrap: wrap;
  /* display:grid; */
  /* justify-content:flex-start; */
  /* grid-template-columns:repeat(6,1fr); */
  gap: 10px;
  align-items: center;
  /* margin-bottom:20px; */
}
.variant-options-container div {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 80px;
  border-radius: 2rem;
  padding: 5px;
  color: rgba(1, 1, 1, 0.7);
  border: 1px solid rgba(1, 1, 1, 0.5) !important;

  background-color: white;
}
.variant-options-container div:hover {
  color: rgba(1, 1, 1, 1);
  border: 1px solid rgba(1, 1, 1, 1) !important;
  cursor: pointer;
}
.active-variant {
  background-color: rgb(var(--color-foreground-title)) !important;
  color: white !important;
  border: 1px solid black !important;
}
.svg-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.svg-wrapper > svg {
  height: 100%;
  width: 100%;
}
.cart-quantity-input-text-container {
  /* background-color: rgba(191, 191, 191, .2); */
  /* padding:20px; */
  border-radius: 1rem;
  /* margin-bottom:20px; */
}
.cart-quantity-input-heading {
  margin-bottom: 25px;
}
.cart-quantity-input-heading h5,
p {
  margin: 0;
}
.cart-quantity-input-heading h5 {
  font-size: 20px;
  margin-bottom: 10px;
}
.cart-quantity-input-heading p {
  font-size: 14px;
}
.cart-quantity-input-items-container {
  padding: 10px;
  display: flex;
  border: 1px solid rgba(221, 223, 227, 1);

  background: rgba(255, 255, 255, 1);
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}
.cart-quantity-input-items-container input {
  width: 65%;
  padding: 8px;
  border: none;
  border-radius: 0.6rem;
}
.cart-quantity-input-items-container button {
  width: 100px;
  padding: 8px 5px;
  background: rgba(33, 31, 87, 1);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}
.cart-quantity-input-items-container button:hover {
  background: rgba(33, 31, 87, 0.8);
  cursor: pointer;
}
.cart-added-quantity-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  /* padding:0 10px; */
}
.cart-added-quantity-container div {
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 10px;
  background: rgba(211, 211, 211, 1);
  border-radius: 20px;
  color: rgba(107, 107, 107, 1);
  font-size: 12px;
  font-weight: normal;
}
/* .added-quantity-container div label{
    padding-top:2px;
  } */
.cart-added-quantity-container div button {
  margin-left: 8px;
  border: none;
  border-radius: 0.2rem;
  color: white;
  background: rgb(135, 135, 135);
  padding: 2px 7px 4px 7px;
  display: flex;
  border-radius: 50%;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.cart-added-quantity-container div button:hover {
  cursor: pointer;
}

.quote-cart-item-product-project-info {
  display: flex;
  flex-direction: column;
}
.quote-project-info-label {
  font-weight: 500;
  color: rgb(var(--color-foreground-title));
}
.quote-cart-item-product-project-info textarea {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  min-height: 230px;
  max-height: 300px;
  border-radius: 1rem;
  resize: vertical;
  border: 1px solid rgba(232, 232, 232, 1);
}
.quote-cart-item-product-delete-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 10px;
}
.quote-cart-item-product-delete-button .quote-product-delete-button {
  background: transparent;
  border: none;
}
.quote-cart-item-product-delete-button .quote-product-delete-button:hover {
  cursor: pointer;
}

.cart-item-error-div,
.quantity-input-error-div {
  color: red;
  font-size: 12px;
}
.cart-item-error-div {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
}

/* Richards code */
.quote-cart-item-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quote-cart-item-detail__label {
  font-size: 14px;
  font-weight: 600;
  color: #898989;
}

.quote-cart-item-detail ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #e8e0e8;
  border-radius: 5px;
  margin: 0;
}

.quote-cart-item-detail ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e0e8;
  font-size: 14px;
}

.quote-cart-item-detail ul li div {
  width: 50%;
  padding: 2px 8px;
}

.quote-cart-item-detail ul li .customization-list__label {
  font-weight: 600;
  border-right: 1px solid #e8e0e8;
}

.quote-cart-item-detail ul li:last-child {
  border-bottom: none;
}

.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: rgb(179, 73, 73);
}

.delete-btn:hover {
  color: rgb(117, 44, 44);
}

@media screen and (max-width: 1020px) {
  .quote-cart {
    grid-template-columns: 100%;
    gap: unset;
  }
  .quote-additional-remarks-div {
    margin-top: 16px;
  }
}

@media screen and (max-width: 720px) {
  .quote-cart-item-product-image-text-buttons {
    grid-template-columns: 100%;
    row-gap: 15px;
  }
  .quote-cart-item-product-image-text {
    justify-content: center;
  }
  .quote-cart-item-product-buttons-group {
    justify-content: center;
  }
  .cart-item-error-div {
    justify-content: center;
    grid-column: unset;
  }
}

@media screen and (max-width: 680px) {
  .quote-cart-item-product-details-static,
  .product-details-edit-container {
    flex-direction: column;
  }
  .quote-cart-item-product-details-static > div,
  .product-details-edit-container > div {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .cart-quantity-input-items-container input {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .product-details-edit-container,
  .quote-cart-item-product-image-text-buttons,
  .quote-cart-item-product-details-static,
  .product-details-edit-container > div,
  .quote-cart-item-product-details-static > div {
    padding: 16px !important;
  }
}
/* quote cart - css - end */
