/* --- Primary Fonts --- */

@font-face {
  font-family: 'Sharp Sans';
  src: url('https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Sharp_Sans_Regular.otf?v=1745344862')
    format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Sans - Medium';
  src: url('https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Sharp_Sans_Medium.otf?v=1745344875')
    format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Sans - Semi Bold';
  src: url('https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Sharp_Sans_Semi_bold.otf?v=1745872216')
    format('otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Sans - Bold';
  src: url('https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Sharp_Sans_Bold.otf?v=1745345673')
    format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* --- Primary Fonts Ends --- */

/* --- Secondary Fonts --- */

@font-face {
  font-family: 'Proxima Nova';
  src: url('https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Proxima_Nova_Regular.otf?v=1745346470')
    format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Medium';
  src: url('https://cdn.shopify.com/s/files/1/0924/3099/1671/files/Fonts_Proxima_Nova_Medium.otf?v=1745346470')
    format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* --- Secondary Fonts Ends --- */

body,
p,
button,
input,
textarea,
select {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  letter-spacing: normal;
}

input::placeholder {
  color: rgb(182, 182, 182);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Sharp Sans', sans-serif;
  letter-spacing: normal;
}

h1,
h2,
h3,
.h0,
.h1,
.h2,
.h3 {
  font-weight: 600;
  letter-spacing: normal;
}

/* Layout */

.card {
  box-shadow: 0 8px 40px rgba(var(--color-shadow), 0.08);
  border: 1px solid #e8e0e8;
  border-radius: 10px;
  width: 100%;
  padding: 24px;
}

.content-card .content-card-header {
  margin-bottom: 32px;
}

.content-card .content-card-header h5 {
  margin: 0;
}

.content-card .content-card-body {
  display: flex;
  flex-direction: column;
}

.content-card_search {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px 5px 5px 10px;
  margin-bottom: 15px;
  border: 1px solid #e8e0e8;
  border-radius: 10px;
}
.content-card_search svg {
  height: 25px;
  width: 25px;
  padding: 2px;
  border-radius: 50%;
}
.content-card_search svg:hover {
  background: rgba(221, 223, 227, 0.5);
  cursor: pointer;
}

.card__table {
  font-weight: 400;
  font-size: 14px;
  border-collapse: collapse;
  border: none;
  border-radius: 10px;
}

.card__table th {
  text-align: left;
  padding: 16px 0 16px 8px;
  border-bottom: 0.5px solid rgba(232, 232, 232, 1);
  vertical-align: top;
}

.card__table td {
  padding: 20px 0;
}

.card__table .status {
  position: relative;
  font-weight: normal;
  padding: 5px 10px;
  border-radius: 100px;
  font-size: 14px;
  text-align: center;
  text-wrap: nowrap;
  display: inline-flex;
  gap: 15px;
  justify-content: center;
  min-width: 120px;
}

.card__table .status[data-status='Pending'] {
  background-color: rgba(255, 251, 204, 1);
}

.card__table .status[data-status='In Progress'] {
  background-color: rgba(222, 204, 255, 1);
}

.card__table .status[data-status='Converted to Order'] {
  background-color: rgba(207, 252, 129, 1);
}

.all_request .status[data-status='Closed'] {
  background-color: rgba(194, 194, 194, 1);
}

.quote__product {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quote__product .quote__product-image {
  display: flex;
  position: relative;
}

.quote__product .quote__product-image img {
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.quote__product .quote__product-image.more-products img:nth-child(1) {
  transform: rotate(-5deg);
  filter: brightness(0.5); /* 0 = black, 1 = original */
}

.quote__product .quote__product-image.more-products img:nth-child(2) {
  position: absolute;
  top: 0px;
  right: 0;
  transform: rotate(5deg);
}

.quote__product .quote__product-image .cart-count-bubble {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
}

cart-count-bubble
/* Breadcrumb */
.breadcrumb__delimiter {
  /* Remove dot style */
  width: auto;
  height: auto;
  background-color: transparent;
  border-radius: 0;
  margin-inline: 0.4rem; /* Adjust spacing as needed */
  display: inline-block;
  position: relative;
}

.breadcrumb__delimiter::before {
  content: '/';
  color: rgba(
    var(--color-foreground),
    0.3
  ); /* Adjust opacity/color if needed */
  font-size: 1.4rem; /* Adjust to match design */
  line-height: 1;
}

/* Form */
.field__label {
  font-size: 14px;
}

/* Header Mega Menu */
.header__inline-menu .header__menu-item {
  font-family: 'Sharp Sans', sans-serif;
  font-weight: 600;
}

.pak-mega-menu__column-list {
  background-color: rgb(var(--color-background));
  display: block;
  gap: 1.2rem;
  column-count: 1;
  list-style-type: none;
}

.pak-mega-menu__column-list.mega-menu__columns--2 {
  column-count: 2;
}

.pak-mega-menu__column-list.mega-menu__columns--3 {
  column-count: 3;
}

.pak-mega-menu__column-list.mega-menu__columns--4 {
  column-count: 4;
}

.pak-mega-menu__column-list li {
  break-inside: avoid;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  gap: 16px;
}

.pak-mega-menu__column-list li .mega-menu__image-thumb {
  width: 50px;
  height: 50px;
  background-color: rgb(236, 236, 236);
  overflow: hidden;
  border-radius: 10px;
}

.pak-mega-menu__column-list li .mega-menu__image-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pak-mega-menu__column-list li .mega-menu__column-list-link {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 16px;
  max-width: 200px;
}

.pak-mega-menu__column-list li .mega-menu__column-list-description {
  margin-top: 6px;
  font-size: 14px;
  color: #898989;
}

.pak-mega-menu__column-info .mega-menu__column-heading {
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-size: 14px;
  color: #858585;
}

/* Header Mega Menu - Mobile*/
.menu-drawer__mega-menu {
  margin-top: 20px;
}

.menu-drawer .mega-menu__column {
  gap: 2.5rem 0;
}

/* Buttons*/
.button--error {
  background-color: rgb(203 46 26 / 64%);
  color: rgb(255, 241, 241);
}

.button--error:hover {
  background-color: rgba(143, 24, 8, 0.64);
  color: rgb(255, 241, 241);
}

.button--default {
  background-color: rgba(226, 226, 226, 0.64);
  color: rgb(70, 70, 70);
}

.button--default:hover {
  background-color: rgba(189, 189, 189, 0.64);
  color: rgb(70, 70, 70);
}

/* Custom Pop Up model */
.popup-overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background: rgba(1, 1, 1, 0.3);
  padding: 0 40px;
}

.popup-overlay .popup-overlay__container {
  margin: auto;
  background: white;
  padding: 50px;
  border-radius: 2rem;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.popup-overlay .popup-overlay__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1.2rem;
  max-width: 650px;
}

.popup-overlay .popup-overlay__header h3 {
  margin: 0;
  color: rgb(var(--color-foreground));
}

.popup-overlay__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.popup-overlay__footer.popup-overlay__footer--stacked {
  flex-direction: column;
}

/* Larger Screens Conditions */
@media screen and (min-width: 1200px) {
  .menu-drawer .mega-menu__column {
    gap: 2.5rem 0;
  }
}
