.intergration__pacdora {
  margin-top: 1rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.intergration__pacdora .intergration__pacdora-buttons {
  display: flex;
  gap: 1rem;
}

.intergration__pacdora .intergration__pacdora-buttons button {
  width: 100%;
}

.intergration__pacdora .intergration__pacdora-buttons-design-button {
  background-image: linear-gradient(to right, #f7f8f6, #f7f8f6),
    conic-gradient(
      #ff7a00,
      #fff500,
      #00ff85,
      #00f0ff,
      #000aff,
      #8f00ff,
      #ff005c,
      #fe0000
    );

  color: transparent;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  cursor: pointer;
}

.intergration__pacdora .intergration__pacdora-buttons-design-button div {
  color: transparent;
  background: linear-gradient(to right, darkblue, darkorchid);
  background-clip: text;
  -webkit-background-clip: text; /* Safari/older Chrome */
  -webkit-text-fill-color: transparent; /* Safari/older Chrome fallback */
}

.intergration__pacdora .intergration__pacdora-buttons-design-button:hover {
  background-image: linear-gradient(to right, #fff, #fff),
    conic-gradient(
      #ff7a00,
      #fff500,
      #00ff85,
      #00f0ff,
      #000aff,
      #8f00ff,
      #ff005c,
      #fe0000
    );
}

.intergration__pacdora .intergration__pacdora-buttons-download-button {
  background-color: transparent;
  border: 2px solid rgba(var(--color-button));
  color: rgba(var(--color-button));
}

.intergration__pacdora .intergration__pacdora-buttons-download-button:hover {
  background-color: rgba(var(--color-button));
  color: white;
}
