.pak-slideshow .slideshow__swiper--full-width {
  height: 100vh;
  transition: all 0.3s ease-in-out;
}

.pak-slideshow .slideshow__slide--overlay .slideshow__content-wrapper {
  max-width: 80vw;
}

.pak-slideshow .slideshow__thumbs-wrapper--3-items .slideshow__thumbs {
  max-width: 52.9rem;
}
.pak-slideshow .slideshow__thumbs-wrapper--2-items .slideshow__thumbs {
  max-width: 100%;
}

.pak-slideshow .slideshow__title-content,
.pak-slideshow .slideshow__description-content {
  white-space: initial;
}

.slideshow__swiper[data-pagination-type='tabs']
  .slideshow__slide--overlay
  .slideshow__content-wrapper {
  padding-bottom: 14.4rem;
}

.slideshow__tab-title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .pak-slideshow .slideshow__swiper--full-width {
    height: 95vh;
  }

  .slideshow__tab-title {
    font-size: 1.9rem;
    line-height: 2.4rem;
    font-weight: 500;
  }

  .pak-slideshow
    .slideshow__swiper[data-pagination-type='tabs_full']
    .slideshow__slide--overlay
    .slideshow__content-wrapper {
    padding-bottom: 50.2rem;
  }
  .pak-slideshow
    .slideshow__swiper[data-pagination-type='tabs']
    .slideshow__slide--overlay
    .slideshow__content-wrapper {
    padding-bottom: 20.6rem;
  }
  .pak-slideshow
    .slideshow__swiper[data-pagination-type='tabs_full']
    .slideshow__slide--overlay
    .slideshow__content-wrapper {
    padding-bottom: 20.2rem;
  }
}
